a{
	text-decoration : none; /* Enleve la ligne des liens */
}

.bouton{
	font-size: 25px;
	cursor:pointer;
	padding:6px 4px 6px 4px;
	font:bold;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	border:1px solid #ccc;
	/*Empeche de selectionner le texte du bouton*/
	-moz-user-select: none; 	/* Firefox */
	-webkit-user-select: none; 	/* Chrome, Safari, Opéra depuis la version 15 */
	-ms-user-select: none; 		/* Internet explorer depuis la version 10 et Edge */
	user-select: none;
}

/* main page layout */
html {
  background-color: #eee;
}
body {
  margin:0;
  font-family:arial,helvetica,sans-serif;
  /*overflow: hidden;*/
}

body{
  width:1064px;
  background:white;
  margin:0 auto 0 auto;
  padding:20px 0 0 0;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}

a {
  color:#0e8bbc;
}
a:hover {
  color:#0b668a;
}

img#PhotoAuteur {
  float:left;
  margin:0 10px 0 0;
}

img#logo_enm {
  float:right;
  margin:0 0 0 0;
}

header {

margin:0 15px 0 15px;

}


header h1 {
  font-size: 20px;
  color:#706d6d;
  margin: 0;
  padding: 0;
}
header p {
  margin-top: 0;
  padding-top: 0;
  font-size: 12px;
  color:#706d6d;
  /*text-align: right;*/
}
header nav {
  float: right;
  margin:0 15px 0 15px;
}
footer {
  padding:20px 0 20px 0;
  margin:0 15px 0 15px;
  overflow: hidden; 
}
footer p {
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 12px;
  color:#706d6d;
}

footer img {
  float:left;
  margin-right:4px;
}

/* default slideshow layout */
#slideshow {
  position: relative;
  width: 1024px;
  height: 560px;
  margin:0 auto 0 auto;
  background: #eee;
}
video {
  position: absolute;
  top: 20px;
  left: 685px;
  border:2px solid white;
  -moz-box-shadow: 0 0 5px #555555;
  -webkit-box-shadow: 0 0 5px#555555;
  box-shadow: 0 0 5px #555555;
}

video.multivideo[smil="active"] {
display:block;
position:relative;
margin-left:auto;
margin-right:auto;
left:0;
}

video.multivideo[smil="active"]:hover {
cursor:pointer;
}

video.multivideo[smil="done"] {
display:none;
}

video.multivideo[smil="idle"] {
display:none;
}

div#images {
  position: relative;
  top: 20px;
  left: 15px;
  width: 640px;
  height: 480px;
  overflow: hidden;
  border:2px solid white;
  -moz-box-shadow: 0 0 5px #555555;
  -webkit-box-shadow: 0 0 5px#555555;
  box-shadow: 0 0 5px #555555;
  background:#FFF;
  
}
div#images img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* alternative slideshow layout */
#swap {
  position: absolute;
  left: 685px;
  top: 266px;
  font-size: 22px;
  font-weight: bold;
  /*color: white;*/
  border: none;
  border-radius         : 5px;
  -o-border-radius      : 5px;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  cursor: pointer;
  z-index: 1;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 5px 0 0 0;
  max-width: 24px !important;
  max-height: 24px !important;
  background-color:white;
  background-image: url(timeline/swap.png);
  background-position: center center;
  background-repeat: no-repeat;
    -moz-box-shadow: 0 0 5px #555555;
  -webkit-box-shadow: 0 0 5px#555555;
  box-shadow: 0 0 5px #555555;
}
#swap span {
  display: none;
}
div#images, video {
  transition         : all 1s;
  -o-transition      : all 1s;
  -moz-transition    : all 1s;
  -webkit-transition : all 1s;
  z-index: 1;
}
.swapped video {
  width: 640px !important;
  height: 480px !important;
  transform         : translate(-670px);
  -o-transform      : translate(-670px);
  -ms-transform     : translate(-670px);
  -moz-transform    : translate(-670px);
  -webkit-transform : translate(-670px);
}
.swapped div#images {
  width: 320px !important;
  height: 240px !important;
  transform         : translate(+670px);
  -o-transform      : translate(+670px);
  -ms-transform     : translate(+670px);
  -moz-transform    : translate(+670px);
  -webkit-transform : translate(+670px);
}

/* Table of Contents */
div.smil-toc {
  width: 310px;
  height: 240px;
  overflow: auto;
  position: absolute;
  right: 5px;
  top: 270px;
}
div.smil-toc ul {
  margin: 0;
  margin-top: 0.8em;
  list-style-type: none;
  padding-left:15px;
}
div.smil-toc ul ul {
  margin-top: 0;
}
div.smil-toc ul a {
  /*color: white !important;*/
  text-decoration: none;
}
div.smil-toc ul a:hover {
  text-decoration: underline;
}

/* timeline */
.smil-controlBar {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 1000px;
  z-index: 2;
  -moz-box-shadow: 0 0 5px #555555;
  -webkit-box-shadow: 0 0 5px#555555;
  box-shadow: 0 0 5px #555555;
}
.smil-timeline, .smil-timeline a:hover span {
  /*width: 810px;*/
}
.smil-timeSegments, .smil-timeCursor {
  display: block;
}
.smil-timeSlider {
  display: none;
}

div.smil-timeline a.current {
background:url(timeline/fond-loading.jpg) repeat-x !important;
height:10px!important;
}

div.smil-timeline a[smil="done"]{
background:url(timeline/fond-loading.jpg) repeat-x !important;
height:10px!important;
}

div.smil-timeline a[smil="done"]:first-child, div.smil-timeline a[smil="active"]:first-child {
-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

div.smil-timeline a[smil="idle"]:last-of-type , div.smil-timeline a[smil="active"]:last-of-type, div.smil-timeline a[smil="done"]:last-of-type{
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

div.smil-timeline a[smil="idle"]{
background:#706d6d!important;
height:10px!important;
}

div.smil-timeline a[smil="idle"]:hover {
background:#575555!important;
height:10px!important;
}

.smil-timeCursor {
background:url(timeline/curseur.png) no-repeat !important;
}

div.smil-timeline a:hover span {
margin-top:-8px!important;
}

.smil-timeSegments a span,.smil-timeSegments a:hover span {
color:white!important;
margin-bottom:30px;

}

.smil-controlBar {
color:#575555 !important;

}

div.smil-toc a {
color:#4e7a9be!important;
}

/* cross-fade transitions */
.cross-fade div#images img {
  opacity: 0;
  transition         : opacity 1s;
  -o-transition      : opacity 1s;
  -moz-transition    : opacity 1s;
  -webkit-transition : opacity 1s;
}
/*
.cross-fade div#images img[smil=active],
.cross-fade div#images img:first-child[smil=idle] {
  opacity: 1;
  z-index: 1;
}
*/
.cross-fade div#images img[smil=active] {
  opacity: 1;
  z-index: 1;
}

/* slide-in transitions */
.slide-in div#images img {
  transition         :         transform 1s;
  -o-transition      :      -o-transform 1s;
  -moz-transition    :    -moz-transform 1s;
  -webkit-transition : -webkit-transform 1s;
}
.slide-in div#images img[smil=idle] {
  transform         : translate(0, +480px);
  -o-transform      : translate(0, +480px);
  -moz-transform    : translate(0, +480px);
  -webkit-transform : translate(0, +480px);
}
.slide-in div#images img[smil=done] {
  transform         : translate(0, -480px);
  -o-transform      : translate(0, -480px);
  -moz-transform    : translate(0, -480px);
  -webkit-transform : translate(0, -480px);
}
.smil-controlBar {
  /*background-color: #faf4a3;*/
  background-color: #FFF;
}

.smil-toc li.current > a {
  color: #0e8bbce6 !important;
}
.smil-toc ul a {
  color: #4e7a9be !important;
}
.smil-timeSegments a span {
  border-top-left-radius          : 8px;
  -o-border-top-left-radius       : 8px;
  -moz-border-radius-topleft      : 8px;
  -webkit-border-top-left-radius  : 8px;
  border-top-right-radius         : 8px;
  -o-border-top-right-radius      : 8px;
  -moz-border-radius-topright     : 8px;
  -webkit-border-top-right-radius : 8px;
  background-color: #555;
  margin-top: -8px;
  padding: 4px 0;
}

@media all and (max-width: 979px) {
/* resize UI for smaller screens */

video {display:none;}


body {
  width: 980px;
  margin: auto;
  overflow: auto;
}

#swap {display:none;}
footer {
  display: none;
}
#slideshow {
  background-color: transparent !important;
  box-shadow         : none !important;
  -o-box-shadow      : none !important;
  -moz-box-shadow    : none !important;
  -webkit-box-shadow : none !important;
    width: 980px;
}
div#images {
  border: none;
}
div#images, div.smil-toc, .smil-tocDisplay, .smil-controlBar {
  left: 170px;
  width: 640px;
}
div.smil-toc.active {
background:rgba(0,0,0,0.8);
}
/* user controls: timeline */
.smil-controlBar {
  width: 640px;
  height: 32px;
  z-index: 2;
}
.smil-timeSegments, .smil-timeCursor {
  /*display: none;*/
  
}

.smil-timeline {
margin-top:12px!important;
padding:5px O;
}
.smil-timeline a {
margin:0;
}
.smil-timeCursor {
position:relative;
top:-5px;
padding:5px;
}

.smil-timeSlider {
  display: block;
}
.smil-timeline, .smil-timeSlider {
  border-radius         : 10px;
  -o-border-radius      : 10px;
  -moz-border-radius    : 10px;
  -webkit-border-radius : 10px;
}
.smil-timeline {
  height: 24px;
  margin-top: 4px;
  overflow: hidden; /* XXX */
  background:black;
}
.smil-currentTime {
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
}

/* user controls: navigation buttons */
.smil-first, .smil-last {
 display: none;
}
.smil-prev, .smil-next {
  position: absolute;
  top: -498px;
  height: 480px;
  margin: 0;
  padding: 0;
  width: 150px !important;
  font-size: 128px !important;

}
.smil-prev {
  left: -150px;
  border-top-left-radius         : 50px;
  -o-border-top-left-radius      : 50px;
  -moz-border-radius-topleft     : 50px;
  -webkit-border-top-left-radius : 50px;
  border-bottom-left-radius         : 50px;
  -o-border-bottom-left-radius      : 50px;
  -moz-border-radius-bottomleft     : 50px;
  -webkit-border-bottom-left-radius : 50px;
  background:url(timeline/btn_prev.png)no-repeat center center!important;
}
.smil-next {
  right: -150px;
  border-top-right-radius         : 50px;
  -o-border-top-right-radius      : 50px;
  -moz-border-radius-topright     : 50px;
  -webkit-border-top-right-radius : 50px;
  border-bottom-right-radius         : 50px;
  -o-border-bottom-right-radius      : 50px;
  -moz-border-radius-bottomright     : 50px;
  -webkit-border-bottom-right-radius : 50px;
  background:url(timeline/btn_next.png)no-repeat center center!important;

}
button.smil-play {
  position: absolute;
  top: -498px;
  left: 3px;
  width: 640px !important;
  height: 480px;
  border: none;
  border-radius         : 1px !important;
  -o-border-radius      : 1px !important;
  -moz-border-radius    : 1px !important;
  -webkit-border-radius : 1px !important;
  opacity: 0.5;
  filter: alpha(opacity=50);
  background-image: url(progress44.gif);
  background-color: transparent !important;
}
.playing button.smil-play {
  background-color: transparent;
  background-image: none;
}
.paused button.smil-play {
  background-color: transparent;
  background-image: url(play128.png);
}

/* user controls: table of contents */
div.smil-toc {
  top: inherit;
  bottom: 10px;
  right: 20px;
  z-index: 3;
  border-radius          : 8px;
  -o-border-radius       : 8px;
  -moz-border-radius     : 8px;
  -webkit-border-radius  : 8px;
  opacity: 0.9;
  filter: alpha(opacity=90);
  /* transition */
  transition         : height 0.5s;
  -o-transition      : height 0.5s;
  -moz-transition    : height 0.5s;
  -webkit-transition : height 0.5s;
  height: 0;
  overflow: hidden;
  /*font-size: 24px !important;*/
  font-size: 32px !important;
  font-family: sans-serif !important;
}
div.smil-toc.active, .active {
  height: 530px;
}

/* hide inactive sublists */
.smil-toc li ul {
  display: none;
}
.smil-toc li.current ul {
  display: block;
}

/* transparent button over the timeline */
.smil-tocDisplay {
  position: absolute;
  bottom: 10px;
  left: 20px;
  width: 840px;
  height: 40px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 4;
  
}

div.smil-timeline  {
background:url(timeline/fond-loading.jpg) repeat-x !important;
height:10px!important;
}

}
