#slideshow, div.smil-toc {
  background-color: white;
}
@media all and (max-width: 1024px) {
  .smil-timeline { background-color: #777; }
}
button {
  background-color: #ddd;
  border-color: #777;
  color: white;
}
video, .smil-timeSlider, button:hover {
  background-color: #bbb;
}

.smil-toc li.current > a {
  color: #199d00 !important;
}
.smil-toc ul a {
  color: #4e7a9b !important;
}
.smil-timeSegments a span {
  border-top-left-radius          : 8px;
  -o-border-top-left-radius       : 8px;
  -moz-border-radius-topleft      : 8px;
  -webkit-border-top-left-radius  : 8px;
  border-top-right-radius         : 8px;
  -o-border-top-right-radius      : 8px;
  -moz-border-radius-topright     : 8px;
  -webkit-border-top-right-radius : 8px;
  background-color: #555;
  margin-top: -8px;
  padding: 4px 0;
}