@import url(timeline/style.css);
@import url(layout.css);

/* hide inactive sublists */
.smil-toc li ul {
  display: none;
}
.smil-toc li.current ul {
  display: block;
}

/* put the video+ToC on the left */
#swap {
  left: 315px;
  background-image: url(timeline/swap-reverse.png);
}
div#images {
  left: 370px;
}
div.smil-toc {
  right: auto;
  left: 0;
}
video {
  left: 15px;
}
.swapped video {
  transform         : translate(+355px);
  -o-transform      : translate(+355px);
  -ms-transform     : translate(+355px);
  -moz-transform    : translate(+355px);
  -webkit-transform : translate(+355px);
}
.swapped div#images {
  transform         : translate(-355px);
  -o-transform      : translate(-355px);
  -ms-transform     : translate(-355px);
  -moz-transform    : translate(-355px);
  -webkit-transform : translate(-355px);
}

