a{
	text-decoration : none; /* Enleve la ligne des liens */
}

/* ID */

#maListe{
	margin-top: 40px;
}

#formulaire{
	padding:0 20% 5%;
}

#delimitationModif{
	border-bottom: 2px solid #007bff;	
}


/* Class */

.titreSection{
	margin-bottom: 30px;
	margin-top: 50px;
}

.boutonMode{
	border-top-left-radius: 0;
    border-top-right-radius: 0;
	font-size: 35px;
}

.inputMarqueur{
	border-right: 2px solid #007bff;
}

.paragraphe{
	border-left: 2px solid #007bff;
	border-right: 2px solid #007bff;
	font-size: 20px;
}


/* Temps de chargement */

.loader {
	margin-top: 5%;
	border: 16px solid #f3f3f3; /* Gris clair */
	border-top: 16px solid #3498db; /* Bleu */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 1.5s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}